TOKEN=TU_TOKEN_BOTA
CLIENT_ID=ID_APLIKACJI_BOTA
GUILD_ID=ID_SERWERA
APPLICATION_LOG_CHANNEL_ID=ID_KANALU_LOGOW_PODAN
EXAM_LOG_CHANNEL_ID=ID_KANALU_LOGOW_EGZAMINOW
CANDIDATE_ROLE_ID=ID_ROLI_KANDYDAT_ITD
STAFF_ROLE_ID=ID_ROLI_KADRY_ITD
PASS_SCORE=16
